[submodule "externals/android"]
	path = externals/android
	url = https://github.com/kolorist/android.git
[submodule "externals/floral"]
	path = externals/floral
	url = https://github.com/kolorist/floral.git
[submodule "externals/helich"]
	path = externals/helich
	url = https://github.com/kolorist/helich.git
[submodule "externals/clover"]
	path = externals/clover
	url = https://github.com/kolorist/clover.git
[submodule "externals/calyx"]
	path = externals/calyx
	url = https://github.com/kolorist/calyx.git
[submodule "externals/refrain2"]
	path = externals/refrain2
	url = https://github.com/kolorist/refrain2.git
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/kolorist/imgui.git
[submodule "externals/insigne"]
	path = externals/insigne
	url = https://github.com/kolorist/insigne.git
[submodule "externals/lotus"]
	path = externals/lotus
	url = https://github.com/kolorist/lotus.git
[submodule "externals/lua"]
	path = externals/lua
	url = https://github.com/kolorist/lua.git
