[submodule "externals/android"]
	path = externals/android
	url = z:/android.git
[submodule "externals/floral"]
	path = externals/floral
	url = z:/floral.git
	branch = dev-x64
[submodule "externals/helich"]
	path = externals/helich
	url = z:/helich.git
	branch = dev-x64
[submodule "externals/clover"]
	path = externals/clover
	url = z:/clover.git
	branch = dev-x64
[submodule "externals/calyx"]
	path = externals/calyx
	url = z:/calyx.git
[submodule "externals/refrain2"]
	path = externals/refrain2
	url = z:/refrain2.git
	branch = dev-x64
[submodule "externals/imgui"]
	path = externals/imgui
	url = z:/imgui.git
[submodule "externals/insigne"]
	path = externals/insigne
	url = z:/insigne.git
